<div class="container">
    <button type="button" onclick="history.back()" class="btn btn-light">
      <i class="bi-arrow-left py-3"></i>
      Kembali
    </button>

    <div class="table-responsive mt-3">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Email</th>
            <td><%= profile.email %></td>
          </tr>
          <tr>
            <th scope="row">Alamat</th>
            <td><%= profile.address %></td>
          </tr>
          <tr>
            <th scope="row">User</th>
            <td><%= profile.User.username %></td>
          </tr>
          <tr>
            <th scope="row">Data Dibuat</th>
            <td><%= profile.createdAt %></td>
          </tr>
          <tr>
            <th scope="row">Data Diperbarui</th>
            <td><%= profile.updatedAt %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
